@import "./Style/reset";
@import "./Style/vars";
@import "./Style/mixin";
@import "./Components/components";



// body {
//     font-family: 'Montserrat', sans-serif;
//     min-height: 100vh;
//     padding: rem(20);
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     background-color: #dddddd;
//     transition: all .3s ease;
// }

// .container {
//     display: flex;
// }