.product__list {
  display: grid;
  grid-template-columns: repeat(3, rem(250));
  grid-template-rows: auto;
  margin: 0 0 rem(50) 0;
  gap: rem(50);
}

.product__board {
  display: flex;
  flex-direction: column;
  & h3 {
    font-family: Fjalla One, sans-serif;
    text-transform: uppercase;
    font-size: rem(24);
    margin-bottom: rem(15);
    color: #f3070a;
  }
}
