.header {
  display: flex;
  justify-content: center;
  background-image: url("../../../public/image/header-image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 100%;
  margin-bottom: rem(50);
  overflow: hidden;
  user-select: none;
  &__items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(5);
    margin: rem(37) 0 rem(127) 0;
    min-width: 100%;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    & img {
      width: rem(50);
      height: rem(50);
      cursor: pointer;
    }
    & h1 {
      font-family: Fjalla One, sans-serif;
      font-size: rem(51);
      margin-top: 5px;
      text-transform: uppercase;
      color: #fff;
      cursor: pointer;    }
  }
  &__icons {
    display: flex;
    justify-content: flex-end;
    min-width: rem(678);
    gap: rem(30);
    position: relative;
    & img {
      display: flex;
      justify-content: center;
      cursor: pointer;
      width: rem(30);
      height: auto;
      margin: rem(20) 0 rem(20) 0;
    }
    & .count {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Montserrat, sans-serif;
      color: #fff;
      font-size: rem(9);
      width: rem(15);
      height: rem(15);
      border-radius: 50%;
      background-color: #ff3f3f;
      position: absolute;
      top: rem(17);
    }
    & .count__items {
      right: rem(57);
    }
    & .count__favorites {
      right: rem(-2);
    }
  }
}
