.product__card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: rem(8);
  overflow: hidden;
  position: relative;
  box-shadow: 10px 10px 20px #adaeaf, -10px -10px 20px #ffffff;
  &-image {
    max-width: min-content;
    min-height: 250px;
    object-fit: cover;
    padding: rem(25);
    cursor: pointer;
    transition: all 0.3s ease;
    user-select: none;
  }
  &-descriptions {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: rem(10);
  }
  &-title {
    color: #666666;
    letter-spacing: rem(0.7);
    font-size: rem(17);
    font-weight: 500;
  }
  &-feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(10);
    position: relative;
  }
  &-color {
    color: #666666;
    font-size: rem(13);
  }
  & .color-circle {
    position: absolute;
    width: rem(13);
    height: rem(13);
    border-radius: 50%;
    top: rem(14);
    left: rem(52);
  }
  &-article {
    color: #adaeaf;
    font-size: rem(10);
  }
  &-price {
    color: #666;
    font-size: rem(18);
    font-weight: 500;
  }
}
.star {
  position: absolute;
  cursor: pointer;
  bottom: rem(160);
  right: rem(7);
  z-index: 1;
}
