.product__list {
  transition: all 0.3s ease-in-out;
  &-grid {
    display: grid;
    grid-template-columns: repeat(3, rem(250));
    grid-template-rows: auto;
    margin: rem(0) 0 rem(50) 0;
    gap: rem(50);
  }
  &-list {
    display: flex;
    flex-direction: column;
    gap: rem(50);
    margin: rem(0) 0 rem(50) 0;
  }
}

.product__board {
  display: flex;
  flex-direction: column;
  & h3 {
    font-family: Fjalla One, sans-serif;
    text-transform: uppercase;
    font-size: rem(24);
    color: #f3070a;
  }
  &-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: rem(20);
    & .list {
      & .button__list {
        margin-left: rem(10);
        padding: rem(10);
        cursor: pointer;
        transition: all 0.2s linear;
        &:hover {
          background-color: rgb(218, 218, 218);
        }
      }
    }
  }
}
