.product__card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: rem(8);
  overflow: hidden;
  position: relative;
  box-shadow: 10px 10px 20px #adaeaf, -10px -10px 20px #ffffff;
  &-image {
    max-width: min-content;
    min-height: 250px;
    object-fit: cover;
    padding: rem(25);
    cursor: pointer;
    transition: all 0.3s ease;
    user-select: none;
  }
  &-descriptions {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: rem(10);
  }
  &-title {
    color: #666666;
    letter-spacing: rem(0.7);
    font-size: rem(17);
    font-weight: 500;
  }
  &-feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(10);
    position: relative;
  }
  &-color {
    color: #666666;
    font-size: rem(13);
  }
  & .color-circle {
    position: absolute;
    width: rem(13);
    height: rem(13);
    border-radius: 50%;
    top: rem(14);
    left: rem(52);
  }
  &-article {
    color: #adaeaf;
    font-size: rem(10);
  }
  &-price {
    color: #666;
    font-size: rem(18);
    font-weight: 500;
  }
  &-list {
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-radius: rem(8);
    width: min-content;
    max-height: rem(250);
    overflow: hidden;
    position: relative;
    box-shadow: 10px 10px 20px #adaeaf, -10px -10px 20px #ffffff;
    & .product__card-image {
      max-width: rem(300);
      object-fit: contain;
      padding: rem(10);
      cursor: pointer;
      transition: all 0.3s ease;
      user-select: none;
    }
    & .product__card-descriptions {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      min-width: rem(300);
      padding: rem(10);
    }
    & .product__card-title {
      align-self: flex-start;
      color: #404040;
      letter-spacing: rem(0.7);
      font-size: rem(17);
      font-weight: 500;
    }
    & .product__card-feature {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: rem(10);
      min-width: rem(150);
      position: relative;
    }
    & .product__card-color {
      align-self: flex-start;
      margin-top: rem(5);
      color: #666666;
      font-size: rem(13);
      & .color-circle {
        position: absolute;
        width: rem(13);
        height: rem(13);
        border-radius: 50%;
        top: rem(16);
        left: rem(55);
      }
    }
    & .product__card-article {
      align-self: flex-start;
      margin-bottom: rem(15);
      color: #adaeaf;
      font-size: rem(10);
    }
    & .product__card-price {
      align-self: flex-end;
      color: #666;
      font-size: rem(20);
      font-weight: 500;
    }
    & .star {
      position: absolute;
      cursor: pointer;
      top: rem(7);
      left: rem(280);
      z-index: 1;
    }
    & .product__card--button {
      min-height: min-content;
      min-width: rem(100);
      margin: 0;
      padding: 0 rem(5);
    }
  }
}
.star {
  position: absolute;
  cursor: pointer;
  bottom: rem(160);
  right: rem(7);
  z-index: 1;
}
