.button {
  justify-content: center;
  padding: rem(15) 0;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: rem(10);
  transition: all 0.2s ease;
  font-weight: 500;
  &.hide {
    display: none;
  }
  &.show {
    display: flex;
  }
}
.btn__hover {
  background-color: #0156a3 !important;
}
