.input {
  padding: rem(10);
  width: rem(300);
  border: rem(1) solid #ccc;
  border-radius: rem(5);
  font-size: rem(16);
  color: #555;
  outline: none;
  transition: all 0.3s ease;
  &:focus {
    border-color: rgb(11, 116, 179);
    box-shadow: 0 0 0 0.1rem rgba(11, 115, 179, 0.644);
  }
}
.error {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
//   position: absolute;
  color: red;
  font-size: rem(11);
}
