.cart {
  padding-bottom: rem(50);
  &__titles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: rem(40);
    font-family: Fjalla One, sans-serif;
    text-transform: uppercase;
    color: #f3070a;
  }
  &__columns {
    display: flex;
    margin-bottom: rem(10);
    & p:nth-child(1) {
      margin-left: rem(10);
    }
    & p:nth-child(2) {
      margin-left: rem(433);
    }
    & p:nth-child(3) {
      margin-left: rem(40);
    }
    & p:nth-child(4) {
      margin-left: rem(47);
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: rem(50);
    padding: 0 0 rem(20) 0;
    background-color: #fff;
    border-radius: rem(5);
    border: rem(1) solid #88888881;
    &-item {
      display: flex;
      align-items: center;
      position: relative;
      padding: rem(10) rem(10) rem(20) rem(10);
      margin: rem(21) 0;
      text-align: start;
      gap: rem(20);
      &::after {
        content: "";
        width: rem(780);
        height: rem(1);
        background-color: #c1c1c1;
        position: absolute;
        bottom: rem(-17);
        left: rem(13);
      }
      & img {
        max-width: rem(150);
        height: auto;
      }
      & .item__name {
        min-width: rem(270);
        font-weight: 600;
        font-size: rem(17);
        margin-right: rem(30);
      }
      & .item__price {
        text-align: center;
        font-weight: 600;
        min-width: rem(70);
      }
    }
  }
  &__quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    &-count {
      padding: rem(6) rem(15);
      margin: 0 rem(10);
      color: #676767;
      border: rem(1) solid #919191;
      border-radius: rem(5);
    }
    &-btn {
      display: flex;
      align-items: center;
      font-size: rem(28);
      background-color: #fff;
      font-weight: 500;
      cursor: pointer;
    }
  }
  & .back__btn {
    background-color: #f7f8fa;
    color: rgb(0, 104, 191);
    cursor: pointer;
    &::before {
      content: "\2190";
      color: rgb(0, 104, 191);
    }
  }
}

.remove__item {
  align-self: flex-start;
  padding: 0;
  transition: all 0.2s ease;
  background-color: #fff !important;
  &::after {
    content: "\2716";
    color: #000;
    right: rem(0);
    &:hover {
      transform: rotate(rem(20));
    }
  }
}
