.shopping__cart-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: rem(400);
  height: max-content;
  padding: rem(10) 0;
  background-color: #e5e7eb;
  & h2 {
    align-self: flex-start;
    font-size: rem(16);
    font-weight: 400;
    margin: 0 0 rem(50) rem(50);
  }
  & p {
    font-size: rem(15);
    align-self: flex-start;
    margin: rem(10) 0 rem(30) rem(50);
  }
  & .shopping__form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: rem(10);
    &-total {
      display: flex;
      justify-content: space-between;
      width: rem(297);
      margin-top: rem(20);
      position: relative;
      & p {
        margin: rem(20) 0;
      }
      &::after {
        content: "";
        position: absolute;
        height: rem(1);
        width: rem(297);
        background-color: #7b7b7b88;
        top: rem(60);
      }
    }
  }
}
.checkout__button {
  align-self: center;
  cursor: pointer;
  max-width: rem(170);
  padding: rem(10) rem(15);
  border-radius: rem(10);
  margin-top: rem(30);
  margin-bottom: rem(15);
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: rem(12);
  transition: all 0.5s ease;

  &:hover {
    letter-spacing: rem(2);
    background-color: hsl(202°, 94%, 70%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(11, 116, 179) 0px 7px 29px 0px;
  }
  &:active {
    letter-spacing: 3px;
    background-color: hsl(202°, 94%, 70%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(11, 116, 179) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
  }
}
