@import "./Style/reset";
@import "./Style/vars";
@import "./Style/mixin";
@import "./Components/components";
@import "./Pages/Pages";

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  background-color: #f7f8fa;
  transition: all 0.3s ease;
}
