.button {
  position: relative;
  justify-content: center;
  padding: rem(15) 0;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: rem(10);
  transition: all 0.2s ease;
  font-weight: 500;
  &.btn__hover {
    color: #b1daff;
  }
  &.none {
    display: none;
  }
}

.animated-check {
  position: absolute;
  bottom: rem(15);
  right: rem(70);
  height: rem(20);
  width: rem(20);
}

.animated-check path {
  fill: none;
  stroke: #ffffff;
  stroke-width: 4;
  stroke-dasharray: 23;
  stroke-dashoffset: 23;
  animation: draw 0.4s linear forwards;
  stroke-linecap: round;
  stroke-linejoin: round;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
