.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  color: #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  transition: 0.2s;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #d54430;
    padding: rem(10) rem(10) rem(10) rem(20);
    & h2 {
      font-weight: 600;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    background-color: #ea4a34;
    border-radius: rem(10);
    overflow: hidden;
    &-close {
      cursor: pointer;
      transform: scale(2);
      background: none;
      color: #fff;
    }
    &-text {
      text-align: center;
      font-size: rem(16);
      line-height: rem(40);
      margin-top: rem(40);
      & p {
        padding: 0 rem(50);
      }
    }
    &-actions {
      display: flex;
      justify-content: center;
      margin: rem(20) 0;
    }
    &-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 7px;
      padding: rem(10) 0;
      min-width: rem(100);
      background-color: #b53725;
      color: #fff;
      border-radius: rem(5);
      cursor: pointer;
      transition: all 0.2s ease;
      &:hover {
        background-color: #842d21;
      }
      &.second {
        background-color: #29327f82;
        &:hover {
          background-color: #29327f;
        }
      }
    }
  }
  &.second {
    .modal__header {
      background-color: #2d37a0;
    }
    .modal__content {
      background-color: #3953d7;
    }
  }
}
