.favs {
  padding-bottom: rem(50);
  &__title {
    font-family: Fjalla One, sans-serif;
    text-transform: uppercase;
    margin-bottom: rem(40);
    color: #f3070a;
  }
  &__wrapper {
    display: grid;
    width: 100%;
    justify-content: center;
    grid-template-columns: repeat(3, rem(250));
    grid-template-rows: auto;
    gap: rem(40);
    margin-bottom: rem(50);
  }
  & .back__btn {
    background-color: #f7f8fa;
    color: rgb(0, 104, 191);
    cursor: pointer;
    &::before {
      content: "\2190";
      color: rgb(0, 104, 191);
    }
  }
  & .star {
    bottom: 100px;
  }
}
