// .button {
//     color: #fff;
//     cursor: pointer;
//     margin: rem(20);
//     padding: rem(17) rem(40);
//     border-radius: rem(10);
//     box-shadow: rgb(0 0 0 / 5%) 0 0 rem(8);
//     letter-spacing: rem(1.5);
//     text-transform: uppercase;
//     font-size: rem(15);
//     transition: all .2s ease;
//     font-weight: 500;
//     box-shadow: rgba(0, 0, 0, 0.689) rem(3) rem(7) rem(29) 0;
//     &:hover {
//         transform: scale(1.01);
//         background-color: hsl(0, 0%, 35%);
//         color: #fff;
//         box-shadow: rgb(26, 15, 46) 0 rem(7) rem(29) 0;
//        }
//     &:active {
//         background-color: hsl(0, 0%, 38%);
//         color: hsl(0, 0%, 100%);
//         transform: scale(0.97);
//         transition: .1s;
//        }
//    }