.success {
  & h2 {
    font-weight: 400;
    font-size: rem(40);
    margin-bottom: rem(50);
  }
  & p {
    letter-spacing: rem(0.5);
    margin-bottom: rem(10);
    & span {
      color: rgb(11, 116, 179);
      margin-left: rem(5);
    }
  }
  & .success__back-btn {
    background-color: #f7f8fa;
    color: rgb(0, 104, 191);
    cursor: pointer;
    margin-top: rem(20);
    &::before {
      content: "\2190";
      color: rgb(0, 104, 191);
    }
  }
}
